.header {
  margin-top:    15px;
  margin-bottom: 15px;
}

.highlighted-container {
	background-color: white;
  border-radius: 10px;
  border: 3px solid #717171;
  color: #303030;
}

.highlighted-container > .custom-row {
  margin-left:  10px;
  margin-right: 10px;
  margin-top:    3px;
  margin-bottom: 3px;
}

.search-bar {
  margin-top: 10px;
}

h2.custom-h2 {
  text-align: center;
}

a {
  color: #A52A2A;
}

a:hover {
  color: #A52A2A;
}

a:focus {
  color: #A52A2A;
}

table {
    table-layout: fixed;
    width: 100px;
}

.btn:focus {
  outline: none;
}